---
---

@import "minima/skins/classic", "minima/initialize";

@font-face {
  font-family: "Computer Modern";
  src: url("/assets/fonts/cmunrm-webfont.eot");
  src: url("/assets/fonts/cmunrm-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/cmunrm.otf") format("opentype"),
    url("/assets/fonts/cmunrm-webfont.woff") format("woff"),
    url("/assets/fonts/cmunrm-webfont.ttf") format("truetype"),
    url("/assets/fonts/cmunrm-webfont.svg#cmu_serifroman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Computer Modern";
  src: url("/assets/fonts/cmunsl-webfont.eot");
  src: url("/assets/fonts/cmunsl-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/cmunsl.otf") format("opentype"),
    url("/assets/fonts/cmunsl-webfont.woff") format("woff"),
    url("/assets/fonts/cmunsl-webfont.ttf") format("truetype"),
    url("/assets/fonts/cmunsl-webfont.svg#cmu_serif_extraromanslanted")
      format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Computer Modern";
  src: url("/assets/fonts/cmunbl-webfont.eot");
  src: url("/assets/fonts/cmunbl-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/cmunbl.otf") format("opentype"),
    url("/assets/fonts/cmunbl-webfont.woff") format("woff"),
    url("/assets/fonts/cmunbl-webfont.ttf") format("truetype"),
    url("/assets/fonts/cmunbl-webfont.svg#cmu_serif_extraboldslanted")
      format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Computer Modern";
  src: url("/assets/fonts/cmunbx-webfont.eot");
  src: url("/assets/fonts/cmunbx-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/cmunbx.otf") format("opentype"),
    url("/assets/fonts/cmunbx-webfont.woff") format("woff"),
    url("/assets/fonts/cmunbx-webfont.ttf") format("truetype"),
    url("/assets/fonts/cmunbx-webfont.svg#cmu_serifbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Computer Modern", sans-serif;
}
