@font-face {
  font-family: "Computer Modern";
  src: url("./cmunrm.woff2") format("woff2"),
    url("./cmunrm.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Computer Modern";
  src: url("./cmunti.woff2") format("woff2"),
    url("./cmunti.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Computer Modern";
  src: url("./cmunbi.woff2") format("woff2"),
    url("./cmunbi.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Computer Modern";
  src: url("./cmunbx.woff2") format("woff2"),
    url("./cmunbx.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Computer Typewriter";
  src: url("./cmuntt.woff2") format("woff2"),
    url("./cmuntt.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Computer Typewriter";
  src: url("./cmunit.woff2") format("woff2"),
    url("./cmunit.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Computer Typewriter";
  src: url("./cmuntb.woff2") format("woff2"),
    url("./cmuntb.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Computer Typewriter";
  src: url("./cmuntx.woff2") format("woff2"),
    url("./cmuntx.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}
